@model IEnumerable<AppGestionEMS.Models.AsignacionDocente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Curso.Ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrupoClase.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.Ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrupoClase.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AsignacionDocenteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AsignacionDocenteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AsignacionDocenteId })
        </td>
    </tr>
}

</table>
